/* CSS Document */
.container{
	width:780px;
	margin:0 auto;
	text-align:center;
	border:1px solid #000;
	overflow:hidden;
	padding:30px;
	
}
.left{
	float:left;
	width:300px;
	overflow:auto;
}
.left table{

	width:300px;
}
.left table tr{
   height:30px;
   line-height:30px;
}
.left table tr:hover{
	cursor:pointer;
}
.trColor{ background-color:#ff0000; color:#fff;}
.right{
	float:left;
	width:450px;
	margin-left:20px;
	border:1px solid #000;
	text-align:center;
	
	
}
.right table{
	    margin-top:20px;
	    margin-left:20px;
	     text-align:left;
		width:400px;
		margin:0 auto;
}
.right table tr{
	 height:40px;
   line-height:40px;
}
.right table tr input{
	 height:24px;
   line-height:24px;
}